<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Subscribed</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lucy Trujillo</td>
            <td>lt@gmail.com</td>
            <td>✔</td>
            <td>Spain</td>
            <td>Malaga</td>
            <td>
                <button><i class="icon-pencil"></i></button>
                <button><i class="icon-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td>Michael Green</td>
            <td>mg@outlook.com</td>
            <td></td>
            <td>Earth</td>
            <td></td>
            <td>
                <button><i class="icon-pencil"></i></button>
                <button><i class="icon-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td>Miles Gannon</td>
            <td>mg@gmail.co.uk</td>
            <td>✔</td>
            <td>United Kingdom</td>
            <td>Bristol</td>
            <td>
                <button>✏️</button>
                <button>🗑️</button>
            </td>
        </tr>
    </tbody>
</table>